/*===============================
=          Regular Template     =
===============================*/

#intro-inner {
    text-align: center;
    padding-top: 100px;
    @include breakpoint (desktop) {
        padding-top: 70px;
    }
    @include media-breakpoint-only(lg) {
        padding-top: 60px;
    }
    @include media-breakpoint-only(md) {
        padding-top: 50px;
    }
    @include media-breakpoint-down(sm) {
        padding-top: 50px;
    }
    &.about-intro {
        .intro {
            max-width: 1060px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    h1 {
        @include inner-title;
    }
    p {
        @include regular-text;
    }
}
#about-page {
    padding-bottom: 80px;
     @include breakpoint (desktop) {
        padding-bottom: 60px;
    }
    @include media-breakpoint-only(lg) {
        padding-bottom: 40px;
    }
    @include media-breakpoint-only(md) {
        padding-bottom: 20px;
    }
    @include media-breakpoint-down(sm) {
        padding-bottom: 0px;
    }
    #why-us {
        @include media-breakpoint-down(md) {
            padding-top: 40px;
        }
        @include media-breakpoint-down(sm) {
            padding-top: 40px;
        }
    }
    #auto-transport {
        @include media-breakpoint-down(sm) {
            padding-top: 25px;
        }
        h3 {
            margin-bottom: 20px!important;
        }
        p {
            &:first-of-type {
                max-width: 1060px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

/*===  End of Regular Template ===*/

