// Listing
#blog__listing {
    padding-top: 100px;
    padding-bottom: 100px;
    @include media-breakpoint-down(md) {
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 14px;
    }
    // card
    .blog__card {
        margin-bottom: 50px;
        display: flex;
        @include media-breakpoint-down(sm) {
            width: 100%;
            display: block;
        }
        // image
        .blog__image {
            width: 40%;
            position: relative;
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
            img {
                width: 100%;
            }
            a {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: 0 0;
                span {
                    width: 64px;
                    height: 64px;
                    background: #fff;
                    text-align: center;
                    line-height: 64px;
                    border-radius: 100%;
                    @include centre(both);
                    display: block;
                    color: #000;
                    font-size: 1.500em;
                    margin-top: 20px;
                    opacity: 0;
                    -webkit-transition: .35s ease-in-out;
                    transition: .35s ease-in-out;
                }
                &:hover {
                    background-color: rgba($red, .9);
                    span {
                        opacity: 1;
                        margin-top: 0;
                    }
                }
            }
        }
        // content
        .blog__content {
            width: 60%;
            align-self: center;
            padding-left: 50px;
            @include media-breakpoint-down(sm) {
                width: 100%;
                padding-left: 0px;
                padding-top: 30px;
            }
            // date
            .blog-date {
                display: block;
                font-size: 1em;
                margin-bottom: 15px;
                i {
                    color:$red;
                    margin-right: 5px;
                }
            }
            h3 {
                margin-bottom: 30px;
                font-family: $mont-semi;
                font-size: 1.75em;
                line-height: 1.3;
                a {
                    color:$red;
                    &:hover {
                        color:$red-dark;
                    }
                }
            }
            .more-btn {
                color:$red;
                text-transform: uppercase;
                font-family: $font-heading;
                font-size: 1em;
                padding-bottom: 3px;
                border-bottom: 2px solid $red;
                &:hover {
                    color:$red-dark;
                    border-color:$red-dark;
                }
            }
        }
    }
}

// Pagination
.pagination-block {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    a {
        border:none;
        color:$black;
        font-family: $mont-semi;
        &:hover {
            color:#999;
        }
    }
    span {
        border:none;
        &.current {
            color:$red;
        }
    }
}

// Single
#blog__single {
    padding-top: 70px;
    padding-bottom: 100px;
    @include media-breakpoint-down(md) {
        font-size: 14px;
        padding-top: 40px;
        padding-bottom: 50px;
    }
    header {
        padding-bottom: 60px;
        width: 80%;
        @include media-breakpoint-down(sm) {
            width: 100%;
            padding-bottom: 30px;
        }
        h1 {
            font-size: 2.5em;
            line-height: 1.225;
            font-family: $font-heading;   
            margin-bottom: 20px;      
            @include media-breakpoint-down(sm) {
                font-size: 2.15em;
            }   
        }
        .metas {
            display: block;
            font-size: 1em;
            i {
                color:$red;
                margin-right: 5px;
            }            
        }
    }
    a {
        color:$red;
        font-family: $mont-med;
        &:hover {
            text-decoration: underline;
        }
    }
    // main
    .main__content {
        margin-bottom: 50px;
        .default-accordion {
            h3 {
                margin-bottom: 30px;
                font-family: $font-heading;
                font-size: 2em;
            }
        }
        h1 {
            @include heading-text;
            text-align: left;
            margin-bottom: 30px;
        }
        h2 {
            @include heading-text;
            margin-bottom: 30px;
            text-align: left;
        }
        h3 {
            @include heading-text2;
            margin-bottom: 30px;
            text-align: left;
        }
        h4 {
            margin-bottom: 30px;
            text-align: left;
            color:$red;
            font-weight: bold;
        }
        h5 {
            margin-bottom: 20px;
            text-align: left;
        }
        ul {
            margin-bottom: 35px;
            li {
                margin-bottom: 10px;
                position: relative;
                padding-left: 20px;
                &:before {
                    content:'';
                    width: 6px;
                    height: 6px;
                    background: $red;
                    position: absolute;
                    left:0px;
                    top:8px;
                    border-radius:50%;
                }
            }
        }
    }
    // image
    .image__inner {
        margin-bottom: 50px;
    }
    // half image
    .image__half {
        margin-bottom: 50px;
    }
    // caption 
    .image__caption {
        padding-top: 15px;
        span {
            text-align: center;
            font-size: 15px;
            color:#999;
            font-style: italic;
            display: block;
        }
    }
    .single-table {
        margin-bottom: 30px;
        @include media-breakpoint-down(sm) {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }
        th {
            border: 1px solid;
            background: rgba(255, 64, 87, 0.3);
            color: #000;
            padding: 3px 10px;
        }
        td {
            border: 1px solid;
            padding: 3px 10px;
        }
    }
    // toc
    .blog__toc {
        margin-bottom: 50px;
    }
    // quote
    .quote {
        margin-bottom: 50px;
    }
    // vide 
    .video__holder {
        text-align: center;
        margin-bottom: 50px;
        iframe {
            max-width: 100%;
            display: block;
            margin:0px auto;
        }
    }
    // acc
    .blog__accordion {
        margin-bottom: 50px;
    }
}

// Author
.author__card {
    border:1px solid #ddd;
    padding:30px;
    margin-top: 40px;
    span {
        font-family: $font-heading;
    }
}

.blog__acc {
    h3 {
        margin-bottom: 30px;
        font-family: $font-heading;
        font-size: 2em;
    }    
}

// CTA form
#bottom-form {
    #booking-form {
        @include clear-pos;
        width: 100%;
        height: auto;
        padding:30px;
        padding-bottom: 100px;
        ul.nav {
            @include media-breakpoint-down(sm) {
                display: block;
            }
            li {
                @include media-breakpoint-down(sm) {
                    width: 100%!important;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.quote-cta--single {
    border:5px solid $red;
    padding:30px;
    text-align: center;
    margin-bottom: 40px;
    span.title {
        display: block;
        font-size: 38px;
        margin-bottom: 15px;
        line-height: 1.2;
        @include media-breakpoint-down(md) {
            font-size: 30px;
        }
    }
    a.btn-cta {
        text-transform: uppercase;
        font-size: 18px;
        background:$red;
        color:$white!important;
        padding-left: 40px;
        padding-right: 40px;
        height: 60px;
        line-height: 60px;
        display: inline-block;
        &:hover {
            background:$red-dark;
            text-decoration: none;
        }
    }
}