/*===============================
=        Rewiews Listing       =
===============================*/

#reviews-page {
    margin-top: 80px;
    position: relative;
    background-color: #F2F2F2;
    padding-bottom: 30px;
    @include breakpoint (desktop) {
        margin-top: 70px;
    }
    @include media-breakpoint-only(lg) {
        margin-top: 65px;
    }
    @include media-breakpoint-only(md) {
        margin-top: 55px;
    }
    @include media-breakpoint-down(sm) {
        margin-top: 45px;
    }
    &:before {
        content: '';
        width: 100%;
        height: 150px;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        @include breakpoint (desktop) {
            height: 120px;
        }
        @include media-breakpoint-only(lg) {
            height: 80px;
        }
        @include media-breakpoint-only(md) {
            height: 60px;
        }
        @include media-breakpoint-down(sm) {
            height: 40px;
        }
    }
    #video-reviews {
        margin-bottom: 35px;
    }
    #textual-reviews {
        [class*='col-'] {
           margin-bottom: 30px; 
        }
        .review-box {
            background-color: #fff;
            padding: 40px; 
            height: 100%;
            display: flex;
            flex-direction: column;
            @include media-breakpoint-down(sm) {
                padding: 20px;
            }
            h3 {
                font-family: $mont-bold;
                font-size: 1.75em;
                line-height: 1.222;
                color: #505050;
                margin-bottom: 20px;
                @include breakpoint (desktop) {
                    font-size: 1.5em;
                }
                @include media-breakpoint-only(lg) {
                    font-size: 1.5em;
                }
                @include media-breakpoint-only(md) {
                    font-size: 1.3em;
                }
                @include media-breakpoint-down(sm) {
                    font-size: 1.2em;
                    margin-bottom: 20px;
                }
            }
            .review-text {
                position: relative;
                padding-top: 20px;
                padding-bottom: 55px;
                flex-grow: 1;
                @include breakpoint (desktop) {
                    padding-top: 30px;
                    padding-bottom: 45px;
                }
                @include media-breakpoint-only(lg) {
                    padding-top: 0px;
                    padding-bottom: 35px;
                }
                @include media-breakpoint-only(md) {
                    padding-top: 0;
                    padding-bottom: 25px;
                }
                @include media-breakpoint-down(sm) {
                   padding-top: 0;
                   padding-bottom: 25px;
                }
                &:before {
                    content: '"';
                    font-family: $mont-bold;
                    font-size: 310px;
                    text-align: left;
                    color: #505050;
                    opacity: 0.04;
                    position: absolute;
                    right: 30px;
                    top: -115px;
                    @include breakpoint (desktop) {
                        top: -70px;
                        font-size: 210px;
                    }
                    @include media-breakpoint-only(lg) {
                        top: -30px;
                        font-size: 110px;
                    }
                    @include media-breakpoint-only(md) {
                        top: -20px;
                        font-size: 90px;
                    }
                    @include media-breakpoint-down(sm) {
                        top: -20px;
                        font-size: 70px;
                    }
                }
                p {
                    font-family: $mont-light;
                    font-size: 1.075em;
                    line-height: 1.5;
                    color: #000;
                    position: relative;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    @include breakpoint (desktop) {
                        font-size: 1.063em;
                    }
                    @include media-breakpoint-only(lg) {
                        font-size: 1em;
                    }
                    @include media-breakpoint-only(md) {
                        font-size: 1em;
                    }
                    @include media-breakpoint-down(sm) {
                        font-size: 0.9em;
                    }
                }
            }
            footer {
                .rating {
                    margin-bottom: 10px;
                    i {
                        font-size: 18px;
                        display: inline-block;
                        color: $red;
                        vertical-align: middle;
                        margin-left: 6px;
                        margin-right: 6px;
                        @include media-breakpoint-only(lg) {
                            font-size: 16px;
                            margin-left: 6px;
                            margin-right: 6px;
                        }
                        @include media-breakpoint-only(md) {
                            font-size: 14px;
                            margin-left: 4px;
                            margin-right: 4px;
                        }
                        @include media-breakpoint-down(sm) {
                            font-size: 14px;
                            margin-left: 2px;
                            margin-right: 2px;
                        }
                    }
                }
                .author {
                    font-family: $mont-bold;
                    font-size: 1.125em;
                    line-height: 1.389;
                    color: #9f9f9f;
                     @include breakpoint (desktop) {
                        font-size: 1.063em;
                    }
                    @include media-breakpoint-only(lg) {
                        font-size: 1em;
                    }
                    @include media-breakpoint-only(md) {
                        font-size: 1em;
                    }
                    @include media-breakpoint-down(sm) {
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
}
/*===  End of Review listing ===*/