/*===============================
=           Footer            =
===============================*/

#page-footer {
	background-color: #2B2B2B;
	padding-top: 35px;
	padding-bottom: 30px;
	@include bp(md) {
		padding-bottom: 0px;
	}
	@include bp(sm-down) {
		padding-top: 55px;
		padding-bottom: 20px;
	}
	.col {
		@include bp(md) {
			min-width: 50%;
			margin-bottom: 50px;
		}
		@include bp(sm-down) {
			min-width: 100%;
			margin-bottom: 50px;
		}
		&:nth-of-type(1) {
			@include bp(sm-down) {
				order: 4;
			}
		}
		&:nth-of-type(2) {
			@include bp(sm-down) {
				order: 1;
			}
		}
		&:nth-of-type(3) {
			@include bp(sm-down) {
				order: 2;
			}
		}
		&:nth-of-type(4) {
			@include bp(sm-down) {
				order: 3;
			}
		}
		h4 {
			margin-bottom: 45px;
			font-family: $mont-bold;
			font-size: 1.125em;
			line-height: 25px;
			text-align: left;
			color: #fff;
			@include bp(md) {
				margin-bottom: 35px;
			}
			@include bp(sm-down) {
				margin-bottom: 35px;
			}
		}
		.cert-secure {
			.cert__code {
				margin-top: 20px;
			}
			.ceritifactions {
				a {
					display: inline-block;
					margin-right: 15px;
					@include bp(lg) {
						margin-right: 7px;
					}		
					&:last-child {
						margin-right: 0!important;
					}
					&:hover {
						img {
							filter: brightness(0) invert(1);
						}
					}								
				}
				img {
					display: inline-block;
					vertical-align: middle;
					@include animate-fade;
				}
			}
			span.code {
				display: block;
				font-family: $mont-med;
				font-size: 0.813em;
				line-height: 30px;
				text-align: left;
				color: #fff;
				margin-top: 15px;
				margin-bottom: 15px;
			}
			.security {
				img {
					margin-right: 10px;
				}
			}
		}
		.newsletter {
			@include bp(sm-down) {
				max-width: 298px;
			}
			.form__wrapper {
				position: relative;
				display: flex;
				padding-right: 22px;
				input[type="email"] {
					font-family: $mont-reg;
					font-size: 1em;
					text-align: left;
					color: #e5e5e5;
					border:0;
					border-bottom: 1px solid $red;
					width: 100%;
					height: 43px;
					padding-left: 7px;
					padding-right: 7px;
					margin-right: 3px;
					background: transparent;
					@include animate-fade;
					@include input-placeholder {
				        color: #e5e5e5;
				    }
					&:focus {
						outline: none;
						border-color: $red-dark;
					}
				}
				button[type="submit"] {
					width: 55px;
					height: 43px;
					line-height: 43px;
					text-align: center;
					background: transparent;
					border: 1px solid $red;
					@include animate-fade;
					&:hover {
						background-color:#fff;
						border-color: #fff;
					}
					i {
						font-size: 15px;
						color: $red;
					}
				}
			}
			.footnote {
				margin-top: 15px;
				p {
					font-family: $mont-reg;
					font-size: 0.875em;
					line-height: 19px;
					color: #8d8d8d;
					margin-bottom: 0;
				}
			}
		}
		.in-touch {
			a {
				display: block;
				font-family: $mont-med;
				font-size: 0.813em;
				color: $red;
				margin-bottom: 15px;
				&:last-of-type {
					margin-bottom: 0;
				}
				&:hover {
					color: $red-dark;
				}
			}
		}
		.follow-us {
			h4 {
				margin-bottom: 30px;
				@include bp(sm-down) {
					margin-bottom: 20px;
				}
			}
			ul {
				li {
					display: inline-block;
					margin-right: 10px;
					&:last-child {
						margin-right: 0;
					}
					a {
						font-size: 26px;
						color: $red;
						&:hover {
							color:$white;
						}
					}
				}
			}
		}
	}
}
.copy-bar {
	background-color: $red;
	@include bp(sm-down) {
		padding-top: 15px;
		padding-bottom: 25px;
	}
	.copy-bar-in {
		@include bp(sm-up) {
			display: flex;
			align-items: center;
		}
	}
	.footer-links {
		ul {
			li {
				display: inline-block;
				vertical-align: middle;
				margin-left: 15px;
				margin-right: 15px;
				@include bp(md) {
					margin-left: 10px;
					margin-right: 10px;
				}
				&:first-of-type {
					margin-left: 0;
				}
				&:last-of-type {
					margin-right: 0;
				}
				a {
					display: block;
					padding:6px 0;
					font-family: $mont-med;
					font-size: 0.813em;
					color: #fff;
					text-transform: capitalize;
					&:hover {
						opacity: .7;
					}
				}
			}
		}
	}
	small {
		font-family: $mont-reg;
		font-size: 0.813em;
		line-height: 25px;
		color: #fff;
		display: block;
		margin-left: auto;
		@include bp(md) {
			font-size: 11px;
		}
		@include bp(sm-down) {
			font-size: 11px;
		}
	}
}




/*=======End of Footer ========*/


// Fixed CTA
#fixed-cta {
    position: fixed;
    bottom:10px;
    right:10px;
    background:#c03b2b;
    border-radius: 4px;
    z-index:9999;
    animation: pulse 750ms infinite;
    @include animate-fade;
    &:hover {
        background: $red;
        span, small {
            color:$white;
        }
    }
    @include bp(sm-down) {
        left:0px;
        right:auto;
        bottom:0px;
        width: 100%;
        text-align: center;
    }
    a {
        padding-left: 70px;
        padding-right: 30px;
        padding-top: 13px;
        padding-bottom: 13px;
        display: block;        
        @include bp(sm-down) {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    animation: pulse 1.5s ease infinite;
    i {
        font-size: 20px;
        @include centre(both);
    }
    em {
        background:$green;
        display: block;
        width: 44px;
        height: 44px;
        border-radius: 100%;
        @include centre(y);
        color:$white;
        font-size: 24px;
        left:15px;        
        @include bp(sm-down) {
            left:25px;
        }
    }
    span {
        display: block;
        text-transform: uppercase;
        color:$white;
        font-size: 26px;
        line-height: 1;
    }
    small {
        font-size: 16px;
        color:$white;
        display: block;
        line-height: 1.4;
    }    
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }