/*===============================
=          Regular Template     =
===============================*/

#intro-inner {
    text-align: center;
    padding-top: 100px;
    @include bp(desktop) {
        padding-top: 70px;
    }
    @include bp(lg) {
        padding-top: 60px;
    }
    @include bp(md) {
        padding-top: 50px;
    }
    @include bp(sm-down) {
        padding-top: 50px;
    }
    &.about-intro {
        .intro {
            max-width: 1060px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    h1 {
        @include inner-title;
    }
    p {
        @include regular-text;
    }
}
#about-page {
    padding-bottom: 80px;
    @include bp(desktop) {
        padding-bottom: 60px;
    }
    @include bp(lg) {
        padding-bottom: 40px;
    }
    @include bp(md) {
        padding-bottom: 20px;
    }
    @include bp(sm-down) {
        padding-bottom: 0px;
    }
    #why-us {
        @include bp(md-down) {
            padding-top: 40px;
        }
        @include bp(sm-down) {
            padding-top: 40px;
        }
    }
    #auto-transport {
        @include bp(sm-down) {
            padding-top: 25px;
        }
        h3 {
            margin-bottom: 20px!important;
        }
        p {
            &:first-of-type {
                max-width: 1060px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

/*===  End of Regular Template ===*/
