/*===============================
=             Blogs            =
===============================*/
#blogs .blogs-list {
  margin-top: 75px; }
  #blogs .blogs-list .blog-box .blog-image {
    position: relative;
    overflow: hidden; }
    #blogs .blogs-list .blog-box .blog-image:hover img {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
    #blogs .blogs-list .blog-box .blog-image a {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%; }

/*=====  End of Blogs  ======*/
