// 0. Path.
$assets: '../img';

// 1. Colors.
$black:#000;
$white:#fff;
$red:#FF4057;
$red-dark: #C03B2B;
$text-color: #191919;
$heading-color: #48484A;
$green: #00e02b;

// 2. Sizes
$base-size:16px;



